pandas
scikit-learn
nltk
rouge
python-dotenv
bert-score
langchain
langchain-community
langchain-openai
langchain-text-splitters
chromadb
openai
tqdm
evaluate
datasets
sentence-transformers
faiss-cpu
transformers
peft
torch